.card{
    align-items: center;
    justify-content: center;
    background-color: red;
    border-radius: 20px;
    height: 200px;
    width: 300px;
    
}

.img{
    width: auto;
}
.imgDb{
    width: 100px;
}