.contain{
    align-items: center;
    justify-content: center;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: -200px;
    left: 20px;
}

.paginado{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}